<?xml version="1.0"?>
<phpunit
    bootstrap="./tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuite name="DoctrineDataFixture Module Tests">
        <directory>./tests/DoctrineDataFixtureModule</directory>
    </testsuite>
</phpunit>